{% overextends "pages/richtextpage.html" %}

{% load mezzanine_tags %}

{% block extra_head %}
{% if page.geom %}
<script type="text/javascript" src="//openlayers.org/dev/OpenLayers.js"></script>
<script type="text/javascript">
var geom = '{{page.geom}}',
    wkt = new OpenLayers.Format.WKT();
</script>
<style type="text/css">
#post-body-map-container {
    width: 100%;
}
#map {
    height: 500px;
    width: 100%; 
}
</style>
{% endif %}
{% endblock %}

{% block main %}{{ block.super }}

{% if page.geom %}
<div id="post-body-map-container"></div>
<script type="text/javascript">
$(function () {
    var elem = document.getElementById('map'),
        options = {projection: new OpenLayers.Projection("EPSG:900913")},
        map,
        tiles,
        vectors,
        feature,
        bounds;

    if (!elem) {
        // if the map is not embedded in the body, add it to the container that follows
        elem = document.createElement('div');
        elem.id = 'map';
        document.getElementById('post-body-map-container').appendChild(elem);
    }

    map = new OpenLayers.Map('map', options);
    tiles = new OpenLayers.Layer.OSM( "OpenStreetMap", options);
    vectors = new OpenLayers.Layer.Vector("Vector Layer", {projection: new OpenLayers.Projection("EPSG:4326")});
    feature = wkt.read(geom);
    bounds = feature.geometry.getBounds();

    map.addLayers([tiles, vectors]);
    map.zoomToExtent(bounds);

    vectors.addFeatures([feature]);
});
</script>
{% endif %}
{% endblock %}