{% overextends "blog/blog_post_detail.html" %}

{% load mezzanine_tags %}

{% load static from staticfiles %}

{% block extra_head %}
{% if blog_post.geom %}
<script type="text/javascript" src="{% static "js/OpenLayers.js" %}"></script>
<script type="text/javascript">
var geom = '{{blog_post.geom}}',
    wkt = new OpenLayers.Format.WKT();
</script>
<style type="text/css">
#post-body-map-container {
    width: 100%;
}
#map {
    height: 500px;
    width: 100%; 
}
#map .olControlAttribution {
    bottom: 0;
}
</style>
{% endif %}
{% endblock %}

{% block blog_post_detail_content %}{{ block.super }}

{% if blog_post.geom %}
<div id="post-body-map-container"></div>
<script type="text/javascript">
$(function () {
    var elem = document.getElementById('map'),
        map,
        tiles,
        vectors,
        feature,
        bounds;

    if (!elem) {
        // if the map is not embedded in the body, add it to the container that follows
        elem = document.createElement('div');
        elem.id = 'map';
        document.getElementById('post-body-map-container').appendChild(elem);
    }

    map = new OpenLayers.Map('map');
    tiles = new OpenLayers.Layer.OSM( "OpenStreetMap");
    vectors = new OpenLayers.Layer.Vector("Vector Layer", {projection: "EPSG:4326"});
    feature = wkt.read(geom);
    feature.geometry.transform("EPSG:4326", "EPSG:900913")
    bounds = feature.geometry.getBounds();

    map.addLayers([tiles, vectors]);
    map.zoomToExtent(bounds);

    vectors.addFeatures([feature]);
});
</script>
{% endif %}
{% endblock %}